@media all and (min-width: 1920px) {

/* _______________ 1 экран _____________ */

.o1{
  width: 1500px;
  margin: -150px 0 0 -750px;
}

.o2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 890px;
  height: 340px;
  margin: -160px 0 0 -450px;
}

.sixbtn{
  width: 460px;
  height: 96px;
  margin-top: 32px;

}

.obvodka6{
  width: 480px;
  height: 116px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 21px 0 0 -245px;
}

.one1,.one2 {
  font-size: 104px;
  line-height: 104px;
}

.fibut{
  width: 680px;
  height: 96px;
  margin-top: -106px;
}

.obvodka1{
  width: 700px;
  height: 116px;
}

.onebtn{
    margin-top: 24px;
}

a{
  font-size: 40px;
  line-height: 40px;
}

.eye, .eye1, .eye2, .eye3, .eye4, .eye5, .eye6, .eye7, .eye8,
.eye9, .eye10, .eye11, .eye12, .eye13, .eye14, .eye15, .eye16,
.eye17, .eye18, .eye19, .eye20, .eye21, .eye22, .eye23{
  height: 14px;
  width: 14px;
}

.box, .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8{
  height: 72px;
  width: 72px;
}

.line1, .line2, .line3, .line4, .line5{
  width: 80px;
}

/* _______________ 2 экран _____________ */

.ramka{
  position: absolute;
  left: 80px;
  top: 400px;
  width: 940px;
  height: 120px;
}

.inp1{
  position: absolute;
  top: 440px;
  left: 110px;
  width: 700px;
  height: 40px;
  font-size: 44px;
}


/* _______________ заголовки и цифры на всех экранов _____________ */

h2{
  font-size: 104px;
  line-height: 104px;
  color: white;
  position: absolute;
  top: 80px;
  left: 80px;
}

h4{
  font-family: 'Jura', sans-serif;
  font-size: 50px;
  line-height: 50px;
  position: absolute;
  top: 560px;
  left: 80px;
}

h3{
  font-family: 'Jura', sans-serif;
  font-size: 120px;
  line-height: 120px;
  position: absolute;
  bottom: 80px;
}

.zyfraone{
  left: 80px;
}

.zyfratwo{
  left: 130px;
}

.zyfratwo1{
  left: 158px;
}

/* _______________ кнопки всех экранов _____________ */

.obvodka2, .obvodka3, .obvodka4, .obvodka5,
.obvodka22, .obvodka33, .obvodka44, .obvodka55{
  width: 560px;
  height: 130px;
  position: absolute;
  bottom: 80px;
  right: 80px;
}

.sebut, .sebut1, .tri, .tri1, .forb, .forb1, .fiveb{
  position: absolute;
  bottom: 90px;
  right: 230px;
  width: 400px;
  height: 110px;
}

.stl, .stl1, .trl, .trl1, .frl, .frl1, .fiverl{
  position: absolute;
  bottom: 90px;
  right: 90px;
  width: 140px;
  height: 110px;
}

/* _______________ 4 экран _____________ */

h5{
  font-family: 'Jura', sans-serif;
  font-size: 44px;
  line-height: 44px;
  text-align: center;
  padding-top: 8px;
  color: white;
  padding-bottom: 12px;
}


.vkus1{
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 10px;
  padding-bottom: 16px;
  border-radius: 60px;
}

.vkus2{
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 10px;
  padding-bottom: 16px;
  border-radius: 60px;
}

.vkus3{
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 16px;
  padding-top: 10px;
  border-radius: 60px;
}

.vkus4{
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 16px;
  padding-top: 10px;
  border-radius: 60px;
}

.vkus5{
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 16px;
  padding-top: 10px;
  border-radius: 60px;
}

.vkus6{
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 16px;
  padding-top: 10px;
  border-radius: 60px;
}

.vkus{
  position: absolute;
  top: 240px;
  left: 80px;
}

.ppp{
  position: absolute;
  top: 480px;
  left: 80px;
}



/* _______________ 5 экран _____________ */

.im{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 740px;
  height: 360px;
  margin: -200px 0 0 -350px;
}

.im11{
  width: 80%;
}

.rr1{
  position: absolute;
  top: 500px;
  left: 180px;
  width: 500px;
  height: 180px;
}

.rr2{
  position: absolute;
  top: 300px;
  left: 1140px;
  width: 500px;
  height: 180px;
}

}





@media all  and (min-width: 1024px) and (max-width:1439px) {

  /* _______________ 1 экран _____________ */

.one1, .one2{
  font-size: 70px;
  line-height: 70px;
}

.o2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 200px;
  margin: -80px 0 0 -300px;
}

.sixbtn{
  width: 320px;
  margin-top: 32px;
}

.obvodka6{
  width: 340px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 340px;
  margin: 22px 0 0 -170px;
}

.fibut{
  width: 480px;
  height: 68px;
  margin-top: -78px;
}

.obvodka1{
  width: 500px;
  height: 88px;
}

.onebtn{
    margin-top: 24px;
}

a{
  font-size: 26px;
  line-height: 26px;
}

.eye, .eye1, .eye2, .eye3, .eye4, .eye5, .eye6, .eye7, .eye8,
.eye9, .eye10, .eye11, .eye12, .eye13, .eye14, .eye15, .eye16,
.eye17, .eye18, .eye19, .eye20, .eye21, .eye22, .eye23{
  height: 10px;
  width: 10px;
}

.box, .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8{
  height: 56px;
  width: 56px;
}

.line1, .line2, .line3, .line4, .line5{
  width: 64px;
}

#draggable5 {
  margin-left: -1vw;
  margin-top: 28vh;
}

#draggable22 {
  margin-left: 96vw;
  margin-top: 62vh;
}

#draggable28 {
  margin-left: 52vw;
  margin-top: 80vh;
}

#draggable24{
  margin-left: 46vw;
  margin-top: 96vh;
}

/* _______________ 2 экран _____________ */

.ramka{
  position: absolute;
  left: 50px;
  top: 280px;
  width: 820px;
  height: 80px;
}

.inp1{
  position: absolute;
  top: 300px;
  left: 76px;
  width: 700px;
  height: 40px;
}

/* _______________ заголовки и цифры на всех экранов _____________ */

h2{
  font-size: 72px;
  line-height: 1;
  color: white;
  position: absolute;
  top: 50px;
  left: 50px;
}

h4{
  font-family: 'Jura', sans-serif;
  font-size: 30px;
  line-height: 30px;
  position: absolute;
  top: 384px;
  left: 50px;
}

h3{
  font-family: 'Jura', sans-serif;
  font-size: 80px;
  line-height: 80px;
  position: absolute;
  bottom: 50px;
}

.zyfraone{
  left: 50px;
}

.zyfratwo{
  left: 90px;
}

.zyfratwo1{
  left: 104px;
}

/* _______________ кнопки всех экранов _____________ */

.obvodka2, .obvodka3, .obvodka4, .obvodka5,
.obvodka22, .obvodka33, .obvodka44, .obvodka55{
  width: 400px;
  height: 100px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.sebut, .sebut1, .tri, .tri1, .forb, .forb1, .fiveb{
  position: absolute;
  bottom: 60px;
  right: 170px;
  width: 270px;
  height: 80px;
}

.stl, .stl1, .trl, .trl1, .frl, .frl1, .fiverl{
  position: absolute;
  bottom: 60px;
  right: 60px;
  width: 110px;
  height: 80px;
}

/* _______________ 4 экран _____________ */

h5{
  font-family: 'Jura', sans-serif;
  font-size: 32px;
  line-height: 33px;
  text-align: center;
  padding-top: 8px;
  color: white;
  padding-bottom: 12px;
}

.vkusno{
  display: flex;
  flex-direction: column;
}

.vkusno1{
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}


.vkus1{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 16px;
  border-radius: 60px;
}

.vkus2{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 16px;
  border-radius: 60px;
  margin-top: 12px;
}

.vkus3{
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 16px;
  padding-top: 10px;
  border-radius: 60px;
  margin-top: 12px;
}

.vkus4{
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 16px;
  padding-top: 10px;
  border-radius: 60px;
}

.vkus5{
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 16px;
  padding-top: 10px;
  border-radius: 60px;
  margin-top: 12px;
}

.vkus6{
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 16px;
  padding-top: 10px;
  border-radius: 60px;
  margin-top: 12px;
}

.vkus{
  position: absolute;
  top: 200px;
  left: 50px;
  flex-direction: row;
}

.ppp{
  position: absolute;
  top: 480px;
  left: 50px;
  font-size: 28px;
}

.rr1{
  position: absolute;
  top: 400px;
  left: 50px;
  width: 300px;
  height: 200px;
}

.rr2{
  position: absolute;
  top: 200px;
  left: 600px;
  width: 300px;
  height: 200px;
}

.v1{
  font-size: 28px;
}

#draggable36 {
  margin-left: 92vw;
  margin-top: 6vh;
}

#draggable34{
  margin-left: 76vw;
  margin-top: 3vh;

}

.ramka1{
    margin-right: 20px;
}

}




@media (min-width: 320px) and (max-width:768px){

  .eye, .eye1, .eye2, .eye3, .eye4, .eye5, .eye6, .eye7, .eye8,
.eye9, .eye10, .eye11, .eye12, .eye13, .eye14, .eye15, .eye16,
.eye17, .eye18, .eye19, .eye20, .eye21, .eye22, .eye23{
  height: 10px;
  width: 10px;
}

.box, .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8{
  height: 44px;
  width: 44px;
}

.line1, .line2, .line3, .line4, .line5{
  width: 64px;
}

#draggable2, #draggable8, #draggable15,
#draggable23, #draggable26, #draggable29, #draggable21,
 #draggable4, #draggable18, #draggable16 {
  display: none;
}

#draggable3 {
  margin-left: 12vw;
  margin-top: 22vh;
}

#draggable5 {
  margin-left: -1vw;
  margin-top: 30vh;
}

#draggable6 {
  margin-left: 78vw;
  margin-top: 96vh;
}

#draggable7{
  margin-left: 45vw;
  margin-top: 10vh;
}

#draggable9{
  margin-left: 22vw;
  margin-top: 18vh;
}

#draggable10{
  margin-left: 60vw;
  margin-top: 28vh;
}

#draggable11{
  margin-left: 84vw;
  margin-top: 3vh;
}

#draggable13{
  margin-left: 6vw;
  margin-top: 82vh
}

#draggable17{
  margin-left: 66vw;
  margin-top: 12vh;
}

#draggable19{
  margin-left: 10vw;
  margin-top: 70vh;
}

#draggable28 {
  margin-left: 64vw;
  margin-top: 74vh;
}

#draggable20{
  margin-left: 20vw;
  margin-top: 94vh;
}

#draggable24{
  margin-left: 50vw;
  margin-top: 88vh;
}

#draggable25 {
  margin-left: 88vw;
  margin-top: 84vh;
}

#draggable30{
  margin-left: 96vw;
  margin-top: 74vh;
}

.one1, .one2{
  font-size: 42px;
  line-height: 42px;
  width: 440px;
}



.fibut{
  width: 320px;
  height: 56px;
  margin-top: -66px;
}



.obvodka1{
  width: 340px;
  height: 76px;
}

.o2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 440px;
  height: 200px;
  margin: -80px 0 0 -220px;
}

.sixbtn{
  width: 320px;
  height: 56px;
  margin-top: 32px;
}

.obvodka6{
  width: 340px;
  height: 76px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 340px;
  height: 76px;
  margin: 20px 0 0 -170px;
}

.onebtn{
  margin-top: 32px;
}

a{
  font-size: 20px;
  line-height: 20px;
}

/* _______________ 2 экран _____________ */

.ramka{
  position: absolute;
  left: 40px;
  top: 240px;
  width: 330px;
  height: 56px;
}

.inp1{
  position: absolute;
  top: 248px;
  left: 56px;
  width: 300px;
  height: 40px;
  font-size: 24px;
}

/* _______________ заголовки и цифры на всех экранов _____________ */

h2{
  font-size: 44px;
  line-height: 1;
  color: white;
  position: absolute;
  top: 40px;
  left: 40px;
  width: 360px;
}

h4{
  font-family: 'Jura', sans-serif;
  font-size: 24px;
  line-height: 24px;
  position: absolute;
  top: 320px;
  left: 50px;
}

.zyfraone{
  display: none;
}

.zyfratwo{
  display: none;
}

.zyfratwo1{
  display: none;
}

/* _______________ кнопки всех экранов _____________ */

.obvodka2, .obvodka3, .obvodka4, .obvodka5,
.obvodka22, .obvodka33, .obvodka44, .obvodka55{
  width: 90vw;
  height: 88px;
  position: absolute;
  bottom: 40px;
  align-items: center;
  justify-content: center;
  left: 5vw;

}

.sebut, .sebut1, .tri, .tri1, .forb, .forb1, .fiveb{
  position: absolute;
  bottom: 50px;
  width: 60vw;
  left: 8vw;
  height: 68px;
}

.stl, .stl1, .trl, .trl1, .frl, .frl1, .fiverl{
  position: absolute;
  bottom: 50px;
  width: 24vw;
  height: 68px;
  right: 8vw;
}

/* _____________ квадраты всех экранов___________________ */

#draggable31{
  margin-left: 70vw;
  margin-top: 80vh;

}

#draggable32{
  margin-left: 26vw;
  margin-top: 78vh;
}

#draggable34{
  margin-left: 90vw;
  margin-top: 3vh;

}

#draggable35{
  margin-left: 96vw;
  margin-top: 74vh;
}

#draggable37{
  margin-left: 94vw;
  margin-top: 22vh;
}

/* _____________ квадраты с обводкой для средних экранов _______________ */

#draggable33 {
  margin-left: -1vw;
  margin-top: 72vh;

}

#draggable36 {
  margin-left: 92vw;
  margin-top: 12vh;

}


/* _______________ 3 экран _____________ */
.r{
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  top: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.ramka1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 8vw;
  padding-right: 8vw;
  width: 100%;
  height: 28vw;
  margin-right: 0px;
}

.ramka2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6vw;
  padding-right: 6vw;
  width: 100%;
  height: 26vw;
}

.kry{
  width: 16vw;
  height: 16vw;
  background-color: #F69944;
  border-radius: 100%;
}

.krr{
  width: 16vw;
  height: 16vw;
  background-color: #F64444;
  border-radius: 100%;
}

.krf{
  width: 16vw;
  height: 16vw;
  background-color: #5B1DDF;
  border-radius: 100%;
}

.i1{
  width: 20vw;
  opacity: 60%;
}

.i2{
  width: 16vw;
  opacity: 60%;
}

.i3{
  width: 18vw;
  opacity: 60%;
}

/* _______ 4 экран ______ */
h5{
  font-family: 'Jura', sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  padding-top: 8px;
  color: white;
  padding-bottom: 12px;
}

.vkusno{
  display: flex;
  flex-direction: column;
}

.vkusno1{
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}


.vkus1{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 10px;
  border-radius: 60px;
}

.vkus2{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 10px;
  border-radius: 60px;
  margin-top: 8px;
}

.vkus3{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 10px;
  border-radius: 60px;
  margin-top: 8px;
}

.vkus4{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 10px;
  border-radius: 60px;
  margin-top: 8px;
}

.vkus5{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 10px;
  border-radius: 60px;
  margin-top: 8px;
}

.vkus6{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 10px;
  border-radius: 60px;
  margin-top: 8px;
}

.vkus{
  position: absolute;
  top: 140px;
  left: 40px;
  flex-direction: column;
}

.ppp{
  position: absolute;
  top: 580px;
  left: 40px;
  font-size: 22px;
  width: 260px;
  text-align: left;
}

.rr1{
  position: absolute;
  top: 220px;
  left: 60px;
  width: 300px;
  height: 120px;
}

.rr2{
  position: absolute;
  top: 560px;
  left: 60px;
  width: 300px;
  height: 120px;
}

.v1{
  font-size: 20px;
}

.im{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 320px;

}

.im11{
  width: 50%;
  margin-left: 60px;
}

.text2{
  font-size: 24px;
  line-height: 24px;
}

p{
  font-size: 24px;
  line-height: 24px;
}

}



}
